{% extends "base.html" %}
{% block content %}
    <header><h1>List of Stores</h1></header>
    <section>
        <p>Here are a list of stores that you can browse. When you're ready, go to alerts and add an item via a URL</p>
        <p>If you are logged in as admin, you can add and delete stores. However in order to add stores, you must be savvy with the element inspector.</p>
    </section>
    <hr>
    <section>
        <div class="list-group mb-3">
            {% for store in stores %}
            <div class="list-group-item">
                <a href="{{ store.url_prefix }}" target="_blank"><h4 class="list-group-item-heading">{{ store.name }}</h4></a>
                <p>
                    For URLs starting with: {{ store.url_prefix }}
                </p>
                {% if session['email'] == config.ADMIN %}
                <a class="btn btn-warning" href="{{ url_for('stores.edit_store', store_id=store._id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('stores.delete_store', store_id=store._id) }}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if session['email'] == config.ADMIN %}
        <a class="btn btn-primary" href="{{ url_for('stores.create_store') }}">Create</a>
        {% endif %}
    </section>
{% endblock %}